.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Ajustement pour navbar et footer */
    background-color: #f9f9f9;
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .form-container:hover {
    transform: scale(1.02);
    opacity: 0.95;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #6ab04c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #4a8c38;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .success-message {
    color: green;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }